[Unit]
Description=Despatch Mail Security Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/despatch
EnvironmentFile=/opt/despatch/.env
ExecStart=/opt/despatch/despatch-mailsec-service
User=despatch
Group=despatch
RuntimeDirectory=despatch
RuntimeDirectoryMode=0770
Restart=always
RestartSec=1
NoNewPrivileges=true
PrivateTmp=true
RestrictAddressFamilies=AF_UNIX
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
