[Unit]
Description=Lightweight Mail Client
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/despatch
ExecStart=/opt/despatch/despatch
Restart=always
RestartSec=2
EnvironmentFile=/opt/despatch/.env
User=despatch
Group=despatch
LimitNOFILE=32768
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
MemoryMax=1200M
TasksMax=256

[Install]
WantedBy=multi-user.target
